<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div data-controller='city-selector'>
    <div class="field">
      <%= form.label :state_id %>
      <%= form.select :state_id, 
                      State.select_collection, 
                      { include_blank: true }, 
                      { 
                        class: 'form-control', 
                        data: { 
                          target: 'city-selector.state_input', 
                          action: 'city-selector#state_changed' }} %>
    </div>

    <div class="field">
      <%= form.label :county_id %>
      <%= form.select :county_id, [], {}, { 
        class: 'form-control',
        data: {
          target: 'city-selector.county_input',
          action: 'city-selector#county_changed'
        }} %>
    </div>

    <div class="field">
      <%= form.label :city_id %>
      <%= form.select :city_id, [], {}, { 
        class: 'form-control',
        data: {
          target: 'city-selector.city_input',
          city_id: account&.city&.id,
          county_id: account&.city&.county&.id,
          state_id: account&.city&.county&.state&.id
        }} %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
